.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #5c4033;
  background: linear-gradient(
      135deg,
      rgba(243, 229, 216, 0.8),
      rgba(248, 241, 231, 0.8)
    ),
    url("https://png.pngtree.com/background/20230519/original/pngtree-an-interior-area-of-an-empty-cafe-in-the-area-picture-image_2652948.jpg")
      center/cover no-repeat;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 24px;
  color: #5c4033;
  font-weight: bold;
}

.switch-text {
  padding-top: 10px;
  font-size: 14px;
  color: #8c6e63; /* Medium Brown */
}

.switch-button {
  margin-top: 15px;
  background-color: #5c4033; /* Tan */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.switch-button:hover {
  background-color: #a67d5a; /* Warm Brown */
  transform: translateY(-2px);
}

.switch-button:focus,
.switch-button:active {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.switch-button:active {
  transform: translateY(0);
}
